body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 20px;
}

.logo {
  font-size: 24px;
}

.navbar {
  display: flex;
}

.headerUl {
  list-style: none;
}

.headerLi {
  float: right;
  display: block;
  margin: 0 30px;
  padding: 0 30px;
  cursor: pointer;
}

.headerLi a {
  text-decoration: none;
  color: #fff;
}

.headerLi:hover {
  background-color: #d34d43;
}

.main {
  min-height: 70%;
  display: flex;
  flex-direction: column;
}

.main h1 {
  text-align: center;
}

.main img {
  width: 170px;
  margin: 20px 20px 20px 20px;
  border-radius: 50%;
}

.privateBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border-radius: 15px;
}

.privateBox:hover {
  background-color: #d34d43;
}
.privateBox:hover h2 {
  background-color: #d34d43;
}

.info {
  margin: 0px;
  padding: 0px;
  flex-direction: column;
  font-size: 25px;
  background-color: #ccc;
  border-radius: 15px;
}

.info h2 {
  background-color: #000;
  color: #fff;
  width: calc(100% - 30px);
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

footer .wave {
  position: absolute;
  width: 100%;
}

.social,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social li,
.menu li {
  list-style: none;
}

.menu li:hover {
  background-color: #d34d43;
}

.social li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
}

.menu li a {
  font-size: 1.2em;
  color: #fff;
  opacity: 0.75;
  margin: 0 15px;
  text-decoration: none;
  display: inline-block;
}

footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  font-size: 1.1em;
}
